.container{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 203px;
    height: 153px;
    row-gap: 50px;
    padding: 20px;
    border-radius: 8px;
    border: none;
    position: relative;
    top: 50px;
}
.card-name{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ABB6C7;
}
.card.active{
    background: #2AA7FF14;
    border: 1px solid #2AA7FF
    
}